.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#body-div {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}
.cover {
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-flow: column;
}
#navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
#navbar:hover {
  background-color: #343a40;
}
#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
}
#page-show {
  flex-grow: 1;
}

.typing {
  color: white;
  display: inline-block;
}
.typing-main {
  background-image: linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #ff7571 -2.45%,
    #ea5dad 26.84%,
    #c2a0fd 64.15%,
    #3bf0e4 108.29%,
    #b2f4b6 159.03%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Raleway", sans-serif;
}
.typing-para {
  background: linear-gradient(87.54deg, #e0f0e8 -6.8%, #fdf9d5 84.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
}
