html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  width: 5px !important;
}
::-webkit-scrollbar-track {
  width: 5px !important;
  background-color: black !important;
}

::-webkit-scrollbar-thumb {
  background: red !important;
  border-radius: 10px !important;
}
::-webkit-scrollbar-thumb:hover {
  background: orange !important;
}
#body-div {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}
.cover {
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-flow: column;
}
#navbar {
  width: 100%;
}
#navbar:hover {
  background-color: #343a40;
}

#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
}
#page-show {
  flex-grow: 1;
}

.typing {
  color: white;
  display: inline-block;
}
.typing-main {
  background-image: linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #ff7571 -2.45%,
    #ea5dad 26.84%,
    #c2a0fd 64.15%,
    #3bf0e4 108.29%,
    #b2f4b6 159.03%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Raleway", sans-serif;
}
.typing-para {
  background: linear-gradient(87.54deg, #e0f0e8 -6.8%, #fdf9d5 84.14%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
}
.heading {
  text-shadow: 1.4px 2.3px;
  margin-top: 2.5vh;
  margin-bottom: 2vh;
}

#spotlight {
  background: #868585
    url("https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat center;
  background-size: cover !important;
  background-attachment: fixed;

  position: relative;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
}

.spotlight-component {
  margin-bottom: 5vh;
}

.about-component {
  margin-bottom: 5vh;
}
#footer {
  background-color: rgb(220, 220, 220);
}
.spotlight-header {
  color: white;
}

.spotlight-scrollbox {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.spotlight-scrollbox::-webkit-scrollbar-thumb {
  background: #0bf3cc !important;
  border-radius: 10px !important;
}

.event-cards {
  flex: 0 0 auto;
  margin-right: 8px;
  margin-bottom: 5vh;
}
.event-component > .event-scrollbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.event-scrollbox::-webkit-scrollbar {
  height: 3px;
}
.event-scrollbox::-webkit-scrollbar-track {
  height: 3px;
  background-color: rgb(15, 5, 5) !important;
}

.event-scrollbox::-webkit-scrollbar-thumb {
  background: rgb(236, 169, 169) !important;
  border-radius: 10px !important;
}
.event-scrollbox::-webkit-scrollbar-thumb:hover {
  background: orange !important;
}
